<!doctype html>
<html>
<head>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="container">
<header>
    {% block header %}{% endblock %}
</header>
{% block content %}{% endblock %}
</div>
</body>
<script type="text/javascript" defer src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</html>